<section class="header">
    <nav>
        <a href="index.html"><img src="../../../assets/logo.png" alt="logo"></a>
        <div class="nav-links" id="navLinks">
            <i class="fas fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="course.html">COURSE</a></li>
                <li><a href="blog.html">BLOG</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </div> 
        <i class="fas fa-bars" onclick="showMenu()"></i>
    </nav>
    <div class="text-box">
        <h1>World's Biggest University</h1>
        <p>Making website is now one of easiest thing in the world. You just need to learn HTML, CSS,<br> Javascript and you are good to go.</p>
        <a href="#" class="hero-btn">Visit Us To Know More</a>
    </div>
</section>