<h1 class="animated fadeIn fast">About Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ab tempore dignissimos velit eos ad corrupti consequuntur sed. Recusandae, laborum. Optio fugiat cupiditate eaque veritatis omnis repellendus minus esse maiores.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ab tempore dignissimos velit eos ad corrupti consequuntur sed. Recusandae, laborum. Optio fugiat cupiditate eaque veritatis omnis repellendus minus esse maiores.
</p>