<section class="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sium dolorum odio harum rerum earum,<br/> porro maiores ea vero, temporibus ipsam natus. Quae, accusantium exercitationem.</p>
    <div class="icons">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
    </div>
    <span> <h5> &copy;Willian David  Vallecilla Riascos {{year}}</h5></span>
</section>