/*-------Footer-------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
}
.footer h5{
   margin-top: 5px;
    text-align: center;
}

.footer .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}